<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${result} > 0">
	<input class="pageNum" type="hidden" th:data-pageNum="${pageNum}">
		<script type="text/javascript">
			let pageNum = $('.pageNum').attr("data-pageNum");
			alert("수정 성공!");
			location.href="/listAcademy?pageNum="+pageNum;
		</script>
	</div>
	<div th:if="${result} <= 0">
		<script type="text/javascript">
			alert("수정 실패!");
			history.back();
		</script>
	</div>
</body>
</html>