<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:insert="~{/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.btn {
		cursor: pointer;
		padding-right: 10px;
	}
</style>
<script type="text/javascript">
	function w_rUpdate(w_bno, w_rno) {
		let txt = $('#reply_'+w_rno).text();
		$('#reply_'+w_rno).html(
				"<textarea row=3 class='form-control' id='rt'>"
				+txt+"</textarea>");
		$('#btn_'+w_rno).html(
				"<div style='display:flex'><div onclick='up("+w_bno+","+w_rno+")'class='btn'>확인</div>"+
				"<div onclick='lst("+w_bno+")' class='btn'>취소</div></div>")
	}
	function up(w_bno, w_rno) {
		let sendData = "w_replytext="+$('#rt').val()+"&w_bno="+w_bno+"&w_rno="+w_rno;
		$.post("/w_rUpdate", sendData, function(data){
			alert("댓글이 수정 되었습니다");
			$('#rListDisp').html(data);
		});
	}
	function lst(w_bno) {
		$('#rListDisp').load('/attend/w_replyList/w_bno/'+w_bno);
	}
	function w_rDelete(w_bno, w_rno) {
		let sendData = "w_bno="+w_bno+"&w_rno="+w_rno;
		$.post("/w_rDelete", sendData, function(data) {
			alert("댓글이 삭제되었습니다");
			$('#rListDisp').html(data);
		});
	}
</script>
</head>
<body>
	<div th:if="${#lists.size(w_rnList) > 0}">
    	<div th:each="rat : ${w_rnList}">
				<div style="display: flex; font-size: 13px; padding-bottom: 5px;">
					<div style="padding-right: 10px;">[[${rat.w_replier}]]</div>
					<div th:text="${#dates.format(rat.w_updatedate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<div th:id="|reply_${rat.w_rno}|">[[${rat.w_replytext}]]</div>
				<div id="session_id" style="display: none;">[[${id}]]</div>
				<div style="display: flex; float: right;" th:if="${rat.id eq id}">
					<div th:id="|btn_${rat.w_rno}|">
						<div th:onclick="w_rUpdate([[${rat.w_bno}]],[[${rat.w_rno}]])" class="btn">수정</div>
					</div>
					<div th:onclick="w_rDelete([[${rat.w_bno}]],[[${rat.w_rno}]])" class="btn">삭제</div>
				</div><br>
				<hr>
			</th:block>
		</div>
	</div>
	<div th:if="${#lists.size(w_rnList) == 0}"></div>
	<div id="padding" style="width: 100%; min-height: 1px; height: 25px;"></div>
</body>
</html>