@charset "UTF-8";
.layout {
	width: 100%
}
a:active {
	outline: none !important;
}
div > a {
	text-decoration: none;
	outline: none;
	color: black;
}
/* new & best */
.img_h {
	width: 292px;
    height: 292px;
	margin-bottom: 15px;
}
.img_h:hover {
	opacity: 0.5;
	cursor: pointer;
}
.a_title {
	font-size: 15px;
	padding-bottom: 5px;
}
.a_price {
	font-weight: bold;
	padding-bottom: 5px;
}

/* carousel 버튼 */
.carousel-indicators button {
  width: 0.5rem !important;
  height: 0.5rem !important;
  border-radius: 50% !important;
  border: 1px solid #0000ff !important; 
  background-color: transparent !important; 
  margin-right: 10px !important;
}

.carousel-indicators button.active {
  background-color: #0000ff !important; 
}

.carousel-item {
  transition-duration: 1.5s;
  height: auto;
}

/* 온라인-오프라인 프로그램 공통 */
.container.empty {
    display: none;
}
.img_h_onoff {
	max-width: 222px;
	max-height: 222px;
	margin-bottom: 15px;
}
.img_h_onoff:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* 온라인 프로그램 */
.table-box-online {
	display: flex;
    margin: 0 auto;
}
.table-box-left {
    flex: 40%;
    margin-right: 20px;
    height: 280px;
}
.table-box-right {
    flex: 60%;
}
.table-box-right img {
    height: 222px;
    width: auto;
}
.text-table {
	flex: 1;
    box-sizing: border-box;  
    padding-left: 20px;
    padding-right: 20px;
}
.text_box_0 {
	border-radius: 0px;
    border: 2px solid #0000ff;
    line-height: inherit;
}
.text_box_1 {
	min-height: 219px;
    padding: 30px 30px 30px 30px;
    word-break: normal;
    word-wrap: break-word;
    font-size: 21px;
}

/* 오프라인 */
.table-box-left-off {
    flex: 60%;
}
.table-box-right-off {
    flex: 40%;
    margin-left: 20px;
    height: 280px;
}
.table-box-left-off img{
    height: 222px;
    width: auto;
}
.text_box_2 {
	border-radius: 0px;
    background: #0000ff;
    line-height: inherit;
}
.text_box_3 {
	min-height: 219px;
    padding: 30px 30px 30px 30px;
    word-break: normal;
    word-wrap: break-word;
    font-size: 21px;
    text-align: right;
}

/* 소식 */
.inner_con {
	display: flex;
	padding: 20px; 
	padding-top: 100px; 
	padding-bottom: 100px; 
	justify-content: space-between; 
}

.img_1 img,
.img_2 img, 
.img_3 img {
	max-width: 100%;
	height: auto;
	text-align: center; 
	display: block;
  	margin: 0 auto;
}
.img_0,
.img_1,
.img_2, 
.img_3 {
	flex: 1;
	max-width: calc(25% - 20px);
	padding-right: 20px;
}
.sosick_btn {
	border: 1px solid white;
	color: white;
	margin: 15px 5px 15px;
	width: 100%;
	max-width: 290px;
	background: #00f;	
}
.sosick_btn:hover {
	border: 1px solid #00f;
	color: #00f;
	background: white;	
}
.data_title {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	color: white;
	font-size: 14px;
	padding-bottom: 10px;
}

/* 키워드 */
.kw_left, .kw_right {
	flex: 30%;
}
.kw_center {
	flex: 40%;
	margin-right: 20px;
}
.kw_table {
	display: flex;
	flex-direction: column;	flex: 30%
}
.kw_row, .kw_row_1 {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.kw_btn_0 {
    border: 1px solid #0000ff;
    border-width: 1.5px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    color: #0000ff;
}
.kw_btn_0:hover {
    border: 1px solid white;
    background: #0000ff;
    color: white;
}
.kw_btn_0 a:hover {
    background: #0000ff;
    color: white;
}
@media screen and (max-width: 1400px) {
    .kw_row_1 {
        flex-direction: column;
        text-align: center;
    }
    .kw_row_1 a {
        margin-top: 25px !important;
    }
}
@media screen and (max-width: 1340px) {
	.alarm_right {
        display: none;
	}
	#carouselExampleCaptions img {
        max-width: 100%; 
        height: auto; 
    }
}
@media screen and (max-width: 1200px) {
	.inner_con {
    	flex-direction: row;
        flex-wrap: wrap;
    }
    .img_0 {
    	display: none;
    }
    .img_1,
    .img_2,
    .img_3 {
        width: calc(33.33% - 20px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .container {
        flex-direction: column;
    }
    .kw_left, .kw_center, .kw_right {
        width: 100%;
    }
    .kw_center {
    	text-align: center;
    }
}

/* 프로그램 알림 */
.alarm_left, .alarm_right {
	flex: 1;
}
.alarm_txt {
	color:white;
	padding: 40px 40px 40px 40px;
	word-break: normal;
    word-wrap: break-word;
}
.alarm_request {
	padding: 0 35px 30px 35px;
}
.alarm_btn {
	color: #0000ff;
    font-size: 15px;
    background-color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px 25px;
    border: 1px solid #0000ff;
}
.alarm_btn:hover {
	color: white;
    background-color: #0000ff;
    border: 1px solid white;
}
.alarm_request_txt {
	color: white;
	font-weight: bold;
}
#a_modal, #b_modal {
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
}
input {
	border: none;
	outline: none;
}
input::placeholder {
	font-size: 95%;
	text-indent: 5px;
	justify-content: center;
}

/* 프로그램 알림 모달 */
.modal_main {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_main_content {
  max-width: 500px;
  width: 100%;
  height: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.8);
}
.modal_main_content2 {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(0.8);
}
.modal_main.show {
  opacity: 1;
  pointer-events: auto;
}
.modal_main.show .modal_main_content {
  opacity: 1;
  transform: scale(1);
}
.modal_main.show .modal_main_content2 {
  opacity: 1;
  transform: scale(1);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 9px;
}
.close:hover {
  color: black;
}
.modal_t {
	border: 1px solid lightgray;
	width: 100%;
	height: 40%;
}

