<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ~{} : templates를 가르킨다 , ::header => header태그범위안 내용을 가져온다. -->
<th:block th:insert="~{/header.html::header}"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:if="${result} > 0">
	<script type="text/javascript">
		alert("환영합니다! " + "[[${name}]] 님");
		location.href="/";
	</script>
</div>
<div th:if="${result} == 0">
	<script type="text/javascript">
		alert("아이디 또는 비밀번호를 확인해주세요");
		history.back();
	</script>
</div>
<div th:if="${result} < 0">
	<script type="text/javascript">
		alert("없는 아이디입니다");
		history.back();
	</script>
</div>
</body>
</html>