@charset "UTF-8";
ul {
	list-style: none;
}
li a {
	text-decoration: none;
	outline: none;
}
.menu-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #0000FF;
	flex-wrap: nowrap;
	overflow: visible;
}
.menu {
	flex-wrap: nowrap;
}
.container1,
.container2,
.container3 {
	flex: 1; 
    margin: 18px 0 0 10px;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.container2 {
	text-align: center; 
	padding: 10px;
}
.h_1, .h_2, .h_3, .h_4, .h_5 {
	cursor: pointer;
	color: white;
	padding: 15px;
	font-size: 16px;
}
.menu:after {
	display: block;
	content: '';
	clear: both;
}
.menu>li {
	position: relative;
	float: left;
	margin-right: 5px;
}
.menu2>li {
	position: relative;
	float: right;
	margin-right: 5px;
}
.menu2 > li > a {
	display: block;
	padding: 15px 10px;
	font-size: 16px;
	color: white;
}
.menu2 > li > a:hover {
	outline: none;
	text-decoration: none;
}
.menu > li > a {
	display: table-cell;
	padding: 0 15px;
	height: 60px;
	line-height: 40px;
	color: white;
	font-size: 16px;
    letter-spacing: 0px;
    font-weight: inherit;
    font-style: normal;
    vertical-align: middle;
}
.menu > li:hover 
	.depth_1 {
	display: block;
}

.menu > li {
    position: relative;
}
.depth_1 {
	display: none;
	position: absolute;
	top: calc(100% + 0px);
    left: 10px;
    width: 180px; 
    background-color: white;
    padding: 5px;
    z-index: 9999;
    max-height: calc(100vh - 60px);
    border: 1px solid #0000FF;
}
.depth_1 a {
    display: table-cell;
    padding: 0 10px;
	background: white;
	color: #0000FF;
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: inherit;
    font-style: normal;
    height: 40px;
    vertical-align: middle;
}
.depth_1 a:hover {
    outline: none;
    text-decoration: none;
}
.menu-bar .menu li:hover,
.menu-bar .menu li:hover > a {
	background: #0000FF;
	color: white;
}
.h_txt a:hover,
li:hover {
	color: #BBBBBB;
}

/* 검색 모달 */
.modal_search {
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);;
}
.modal_search .search_close {
	width: 20px;
	position: absolute;
    top: 10px;
    right: 10px;
	cursor: pointer;
	opacity: 1;
}
.modal_search .search_container {
	width: 76%;
	height: 100%;
	margin: 130px 12% 0 12%;
}
.input_area {
	width: 50%;
	margin: 0 auto;
}
.input_area input[type=text] {
	width: calc(100% - 33px);
	height: auto;
    padding: 15px 35px 15px 0;
    margin-bottom: 0;
    outline: none;
    background: none;
    caret-color: #BBBBBB;
    color: white;
    font-size: 25px;
    border: none;
}
.input_area input[type=text]::placeholder {
	color: #BBBBBB;
}

/* 화면 크기별 */
@media screen and (max-width: 1400px) {
	.h_1, .h_2, .h_3, .h_4, .h_5 {
		padding: 5px;
	}
}
@media screen and (max-width: 1200px) {
    .menu-bar {
        flex-direction: column;
        align-items: center;
    }
    .container {
        width: 100%;
    }
	.container2 {
		display: none;
	}
    .container1,
    .container2,
    .container3 {
        margin: 0 auto; 
        width: 100%; 
    }
}
